.body {
  padding: 40px;
  background-color: #c6d7e0;
}

.headerTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.newTransactionContainer {
  background-color: #fafbfc;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
}

.newTransactionHeader {
  color: #525252;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph {
  margin-bottom: 0;
}

.submit {
  margin-top: 10px;
  padding: 6px;
  border: none;
  border-radius: 10px;
  background-color: #ee8a2f;
  color: #FFFFFF;
  text-transform: uppercase;
  max-width: 90px;
  width: 100%;
}

.transactionHistoryContainer {
  background-color: #fafbfc;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  width: 100%;
  max-width: 600px;
  margin-left: 20px;
}

.transactionHistoryHeader {
  color: #525252;
}